
textarea {
	display:block;
	width: 100%;
	}

body {
	font-family: Verdana, Halvetica, Arial, sans-serif;
	padding: 30px;
	}

h1{
	color: purple;
	border-bottom:solid 10px purple;
	}

h2 {
	padding-bottom: 0px;
	margin-bottom: 0px;
	}

ul{
	margin-top: 0px;
	padding-top:0px;
	}

table{
border-collapse:collapse;
}


th {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	text-align: left;
	padding: 6px 6px 6px 6px;
	background: purple;
	color: white;
	text-transform:uppercase;
	}

td {
	padding:6px 12px 6px 6px;
	border-bottom: 2px solid black;
}




tr.alt
{
	background-color: 	#EBDDE2;
}
